name: CI Workflow

on: [pull_request]

jobs:
  greeting:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Greet on Push
        run: echo "Hello, GitHub Actions! This workflow runs on every push."
  python-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          pip install -r aa-integration-backend/cloud-pubsub-interceptor/requirements.txt
          pip install -r aa-integration-backend/ui-connector/requirements.txt
      - name: Run Python tests
        run: |
          python -m unittest discover -s aa-integration-backend/cloud-pubsub-interceptor
          python -m unittest discover -s aa-integration-backend/ui-connector